/* General Rules */

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Header Rules */

header {
  width: 100%;
  justify-content: space-between;
  height: 64px;
  background-color: white;
}

  /* Logo Rules */

.logo {
  padding-left: 1.5rem;
}

.logo h3 {
  color: #4A4A4A;
  text-transform: uppercase;
}

.logo h3 span {
  color: #9B9B9B;
}

  /* Nav Rules */

nav {
  align-items: flex-end;
}

nav span {
  margin-right: 1rem;
}

nav span:hover {
  padding: 5px;
  border: 0.5px solid #9B9B9B;
  border-radius: 15px;
  transition: all 300ms ease-in-out 100ms;
}

nav a {
  text-decoration: none;
  color: #4A4A4A;
}

nav a:hover {
  opacity: 0.5;
}

/* Banner Rules */

.banner {
  background-color: #D8D8D8;
}

  /* Image Content */

.image-content {
  width: 60%;
  overflow: hidden;
  padding: 2rem 40px 2rem 24px;
}

.image-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

  /* Text Content */

.text-content {
  align-items: flex-start;
  flex-flow: column wrap;
}

.text-content h1 {
  color: #4A4A4E;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.text-content h2 {
  color: #4A4A4E;
  padding-top: 15px;
  font-weight: 500;
  line-height: 1.25;
  font-size: 1.7rem;
}

  /* Button */

.button {
  width: 90%;
  background-color: #4A4A4E;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.button:active {
  background-color: #37373A;
}

.button a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.button a:hover {
  opacity: 0.6;
}

.button a:active {
  position: relative;
  top: 3px;
  transition: all 400ms linear 1s;
}

/* Info Section */

.info {
  background-color: #F3F5F5;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

  /* Main */

.info .main {
  width: 60%;
  border: 1px solid grey;
}

.info .main .text-content {
  width: 100%;
  margin-left: 24px;
  margin-right: 24px;
}

.info .main .text-content h1 {
  color: black;
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: 24px;
}

.info .main .image-content {
  width: 100%;
  padding: 0;
  margin: 32px 24px;
}

.info .main .image-content img {
  overflow: hidden;
  height: auto;
  display: block;
}

.info p {
  font-family: "Quicksand", sans-serif;
  color: #4A4A4A;
  line-height: 1.5;
  letter-spacing: 1.1px;
  font-size: 1.2rem;
}

.main span {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 500;
}

/* Side */

 .side {
   border: 1px solid grey;
   margin-left: 24px;
   width: 40%;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: space-between;
 }

  /* Orientation */
 .side .orientation {
   border: 1px solid grey;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
 }

 .side .orientation .image-content {
   width: 35%;
   padding: 16px;
 }

 .side .orientation .text-content {
   width: 65%;
   display: flex;
   flex-flow: column nowrap;
 }

   /* Campus */

   .side .campus {
     border: 1px solid grey;
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
   }

   .side .campus .image-content {
     width: 35%;
     padding: 16px;
   }

   .side .campus .text-content {
     width: 65%;
     display: flex;
     flex-flow: column nowrap;
   }

   /* Guest Lecture */

   .side .guest-lecture {
     border: 1px solid grey;
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
   }

   .side .guest-lecture .image-content {
     width: 35%;
     padding: 16px;
   }

   .side .guest-lecture .text-content {
     width: 65%;
     display: flex;
     flex-flow: column nowrap;
   }
